html {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}


body {
    background-color: #0E303C;
}

a {
    color:black;
    text-decoration: none;
}


a:hover {color:grey;}

/* small */
@media screen and (max-width : 1400px) {
    .topstyle {
        background-color: red;
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        justify-content: right;
        margin: 0;
        border: 0;
        padding: 0;
        align-items: center;
    }
    .navmain {
        display: none;
    }
    .icon {
        background: black;
        display: block;
        margin-right: 30%;
      }
      a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      .toplogo {
        margin-right: 30%;
    }
}

/* large */
@media screen and (min-width : 1400px) {
    .topstyle {
        background-color: white;
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        justify-content: right;
        margin: 0;
        border: 0;
        padding: 0;
        align-items: center;
    }
    .toplogo {
        margin-right: 15%;
    }
    .homenav td {
        padding-left: 30px;
        white-space: nowrap;
        margin-right: 20%;
    }
    .navmain {
        padding-right: 20%;
    }
}