html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
}

body {
    margin: 0;
}

a {
    color:black;
    text-decoration: none;
}

footer {
    background-color: #272D34;
    color:white;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    padding-bottom: 3%;
}
.footcontent {
    margin-left: 10%;
    align-items: center;
}
.media {
    padding-top: 2%;
    column-gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbot {
    position: absolute;
    right: 10%;
    white-space: nowrap;
}
.navbot a {
    margin-right: 10%;
    color:white;
}

.darkblu {
    background-color: #0E303C;
}

.top h1 {
    color:#CD3532;
    font-size: 48px;
    text-align: left;
    font-weight: bold;
}

p {
    color:white;
    line-height: 1.6;
}

.connect {
    background-color: #CD3532;
    color:white;
    font-size: large;
    font-weight: bolder;
    text-align: center;
    align-items: center;
    border: #0E303C;
    border-radius: 10px;
    width: 250px;
    height: 60px;
    margin-top: 5%;
}

button:hover {
    background-color: #EC3D3A;
}

.lightred {
    background-color: #CD3532;
    color: white;
    text-align: center;
    padding: 5%;
}

.lightred h3 {
    font-weight: normal;
}

.lightred iframe {
    padding-top: 7%;
}

.lightgrey {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #B8BDC1;
    text-align: center;
}

.links {
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    column-gap: 50px;
    row-gap: 50px;
    align-items: center;  
    justify-content: space-evenly;
}

.links img {
    padding: 10px;
    max-width: 80%;
    height: auto;
}

.help {
    padding-top: 5%;
    color: white;
    text-align: center;
}

.help h3 {
    font-weight: normal;
}

.anchors h1 {
    color:white;
}

.anchors img {
    padding-top: 5%;
}

.anchors p {
    padding-bottom: 10%;
}

.connectprompt {
    background-image: url(https://cdn.discordapp.com/attachments/1009293272801361982/1162763942863585352/connect.jpg?ex=653d1f4f&is=652aaa4f&hm=0bc454658ce01798f8af744d3c08d8cd33339e29a09164765c3057c7394714dd&);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: auto;
}

.connectbox p {
    color: black;
}

.input {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input input {
    font-size: large;
    color: rgb(100, 100, 100);
    border: rgb(232, 232, 232) solid 2px;
    padding-left: 20px;
    height: 60px;
    width: 450px;
}

.connect2 {
    background-color: #CD3532;
    color:white;
    font-size: large;
    font-weight: bolder;
    text-align: center;
    align-items: center;
    border: #0E303C;
    border-radius: 10px;
    width: 480px;
    height: 60px;
    margin-top: 5%;
}

.events {
    color:white;
}

.testmonial {
    background-image: url(https://cdn.discordapp.com/attachments/1009293272801361982/1162781864172466296/testimonial.jpg?ex=653d2fff&is=652abaff&hm=edbcfc912d24e6a84009c6458647f3a7c04bc0110e667b0b0138f07b0dbaa304&);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: auto;
    margin-bottom: 0%;
}

.quotecss {    
    color:white;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 5%;
    font-weight: normal;
    font-size: x-large;
}

.quotecss,.namescss,.titlecss {
	position: relative;
	animation-duration: 10.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-name: anim-1;
}

@keyframes anim-1 {
  0%, 10% { left: -20%; opacity: 0; }
  10%, 90% {left: 0%; opacity: 1; }
}




.namescss {
    color:white;
    margin-left: 15%;
    margin-right: 20%;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

.titlecss {
    color:rgb(180, 180, 180);
    margin-left: 15%;
    margin-right: 20%;
    font-weight: normal;
    font-style: italic;
    font-size: x-large;
    text-align: center;
}

.statementselect {
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.statementselect button {
    margin-bottom: 5%;
    border-radius: 10px;
    padding: 8px;
    border: none;
}

.buttonunpress {
    color: white;
    background-color: white;
}

.pressed {
    color: #CD3532;
    background-color: #CD3532;
}

/* small */
@media screen and (max-width : 1400px) {
    .topstyle {
        background-color: white;
        display: flex;
        flex-direction: column;
        column-gap: 10px;
        justify-content: right;
        margin: 0;
        border: 0;
        padding: 0;
        align-items: center;
    }
    .topnav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .display {
        display: none;
    }

    .icon {
        background: white;
        margin-right: 30%;
        width: 40px;
        height: 40px;
    }

    .toplogo {
        margin-right: 100%;
        margin-left: -50%;
    }

    .menu {
        position: relative;
        left: 20%;
        top: 15%;
    }
    .homenav td {
        display: flex;
        flex-direction: column;
        text-align: center;
        white-space: nowrap;
    }
    td:hover {
        background-color: rgb(195, 194, 194);
    }
    .anchors {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: top;
        justify-content: center;
        padding-left: 5%;
        padding-right: 5%;
    }
    .anchors div {
     text-align: center;
    }

    .anchors p {
        margin-left: 20%;
        margin-right: 20%;
    }
    .top {
        display:flex;
        flex-direction: column;
        text-align: center;
    }
    .top img {
        position: relative;
        padding-top: 2%;
        padding-bottom: 20%;
    }
    .top .text {
        position: relative;
        margin-right: 20%;
        margin-left: 20%;
        font-size: large;
    }
    .events {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .events img {
        padding-top: 5%;
        padding-bottom: 20%;
    }
    .events .text {
        padding-top: 5%;
        margin-left: 20%;
        margin-right: 20%;
        font-size: large;
    }
    .events button {
        margin-left: 40%;
    }
    .connectbox {
        padding-bottom: 2%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        background-color: white;
        width: 550px;
        margin-left: 27.5%;
        border-radius:  25px;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

/* large */
@media screen and (min-width : 1400px) {
    .topstyle {
        background-color: white;
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        justify-content: right;
        margin: 0;
        border: 0;
        padding: 0;
        align-items: center;
    }

    .toplogo {
        margin-right: 200px;
    }

    .homenav td {
        padding-left: 30px;
        white-space: nowrap;
        margin-right: 20%;
    }

    .navmain {
        padding-right: 20%;
        font-size: large;
    }

    .menu {
        display: none;
    }

    a:hover {color:grey;}

    .anchors {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: top;
        justify-content: center;
        padding-left: 5%;
        padding-right: 5%;
    }
    .anchors div {
        width: 30%;
    }
    .top {
        display:flex;
        flex-direction: row;
        align-items: center;
    }
    .top img {
        position: relative;
        right: 50%;
        padding-top: 20%;
        padding-bottom: 20%;
    }
    .top .text {
        position: relative;
        left: 15%;
        margin-right: 40%;
        font-size: large;
    }
    .events {
        display:flex;
        flex-direction: row;
        align-items: center;
    }
    .events img {
        margin-right: 20%;
        padding-top: 20%;
        padding-bottom: 20%;
    }
    .events .text {
        margin-right: 10%;
        margin-left: 30%;
        font-size: large;
    }
    .events button {
        margin-left: 30%;
    }
    .connectbox {
        padding-bottom: 2%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        background-color: white;
        width: 550px;
        margin-left: 37.5%;
        border-radius:  25px;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}