html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
}



a {
    color:white;
    text-decoration: none;
}

.hide {
    display: none;
}

footer {
    background-color: #272D34;
    color:white;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    padding-bottom: 3%;
}
.footcontent {
    margin-left: 10%;
    align-items: center;
}
.media {
    padding-top: 2%;
    column-gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbot {
    position: absolute;
    right: 10%;
    white-space: nowrap;
}
.navbot a {
    margin-right: 10%;
    color:white;
}

.darkblu {
    background-color: #0E303C;
}

.top h1 {
    color:#CD3532;
    font-size: 48px;
    text-align: left;
    font-weight: bold;
}

.text h1 {
    color: white;
    font-size: 48px;
    text-align: left;
    font-weight: bold;
}

p {
    color:white;
    line-height: 1.6;
}

.connect {
    background-color: #CD3532;
    color:white;
    font-size: large;
    font-weight: bolder;
    text-align: center;
    align-items: center;
    border: #0E303C;
    border-radius: 10px;
    width: 250px;
    height: 60px;
    margin-top: 5%;
}

button:hover {
    background-color: #EC3D3A;
}

.lightred {
    background-color: #B8BDC1;
    color:black;
    padding: 5%;
}

.demo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.demo p {
    color:black;
}

.demo a {
    color: #CD3532;
}

.demo a:hover {
    color: #EC3D3A;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: center;
    max-width: 100%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10%;
}

.rower {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #272D34;
    border-radius: 61px;
    transition: transform .5s;
    width: 100%;
    text-align: center;
}


.flex img {
    border-radius: 60px;
    height: 200px;
    width: 200px;
}

.flex ul {
    list-style-type: none;
    transition: transform .5s;
    color:white;
    font-weight: bold;
}

.flex li {
    padding-top: 10px;
    text-wrap: balance;
    text-overflow: ellipsis;
}


.flex h1 {
    text-align: center;
}





.text2 {
    color: #CD3532;
    font-weight: bold;
}
.lightred iframe {
    padding-top: 7%;
}

.youtubeflex {
    display: flex;
    justify-content: center;
}

.lightgrey {
    background-color: #B8BDC1;
}

.links {
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    column-gap: 50px;
    row-gap: 50px;
    align-items: center;  
    justify-content: space-evenly;
}

.links img {
    padding: 10px;
    max-width: 80%;
    height: auto;
}

.help {
    padding-top: 5%;
    color: white;
    text-align: center;
}

.help h3 {
    font-weight: normal;
}

.anchors h1 {
    color:white;
}

.anchors img {
    padding-top: 5%;
}

.anchors p {
    padding-bottom: 10%;
}



.connectflex {
    display: flex;
    justify-content: center;
}

.connectbox p {
    color: black;
}

.input {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input input {
    font-size: large;
    color: rgb(100, 100, 100);
    border: rgb(232, 232, 232) solid 2px;
    padding-left: 20px;
    height: 60px;
    width: 450px;
}

.connect2 {
    background-color: #CD3532;
    color:white;
    font-size: large;
    font-weight: bolder;
    text-align: center;
    align-items: center;
    border: #0E303C;
    border-radius: 10px;
    width: 480px;
    height: 60px;
    margin-top: 5%;
}

.events {
    color:white;
}



.quotecss {    
    color:white;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 5%;
    font-weight: normal;
    font-size: x-large;
}

.quotecss,.namescss,.titlecss {
	position: relative;
	animation-duration: 10.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-name: anim-1;
}

@keyframes anim-1 {
  0%, 10% { left: -20%; opacity: 0; }
  10%, 90% {left: 0%; opacity: 1; }
}




.namescss {
    color:white;
    margin-left: 15%;
    margin-right: 20%;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

.titlecss {
    color:rgb(180, 180, 180);
    margin-left: 15%;
    margin-right: 20%;
    font-weight: normal;
    font-style: italic;
    font-size: x-large;
    text-align: center;
}

.statementselect {
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.statementselect button {
    margin-bottom: 5%;
    border-radius: 10px;
    padding: 8px;
    border: none;
}

.buttonunpress {
    color: white;
    background-color: white;
}

.pressed {
    color: #CD3532;
    background-color: #CD3532;
}

/* small */
@media screen and (max-width : 1400px) and (min-width : 500px) {
    .topstyle {
        background-color: white;
        display: flex;
        flex-direction: column;
        column-gap: 10px;
        justify-content: right;
        margin: 0;
        border: 0;
        padding: 0;
        align-items: center;
        color: black;
    }
    .topstyle a {
        color: black;
    }
    .topnav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .types2 {
        text-align: center; 
    }
    .demo {
        padding-bottom: 5%;
    }
    .display {
        display: none;
    }

    .icon {
        background: white;
        margin-right: 30%;
        width: 40px;
        height: 40px;
    }

    .toplogo {
        margin-right: 100%;
        margin-left: -60%;
    }

    .menu {
        position: relative;
        left: 20%;
        top: 15%;
    }
    .homenav td {
        display: flex;
        flex-direction: column;
        text-align: center;
        white-space: nowrap;
    }
    td:hover {
        background-color: rgb(195, 194, 194);
    }
    .anchors {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: top;
        justify-content: center;
        padding-left: 5%;
        padding-right: 5%;
    }
    .anchors div {
     text-align: center;
    }

    .anchors p {
        margin-left: 20%;
        margin-right: 20%;
    }
    .top {
        display:flex;
        flex-direction: column;
        text-align: center;
    }
    .top img {
        position: relative;
        padding-top: 2%;
        padding-bottom: 20%;
    }
    .top .text {
        position: relative;
        margin-right: 20%;
        margin-left: 20%;
        font-size: large;
    }
    .events {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .events img {
        padding-top: 5%;
        padding-bottom: 20%;
    }
    .events .text {
        padding-top: 5%;
        margin-left: 20%;
        margin-right: 20%;
        font-size: large;
    }
    .contain {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .connectbox {
        padding-bottom: 2%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        background-color: white;
        width: fit-content;
        border-radius:  25px;
        margin-top: 5%;
        margin-bottom: 5%;
        padding-left: 2%;
        padding-right: 2%;
    }
    .demo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .demo img{
        width: 75%;
    }
    /* small */
    .connectprompt {
        background-image: url(https://cdn.discordapp.com/attachments/1009293272801361982/1162763942863585352/connect.jpg?ex=653d1f4f&is=652aaa4f&hm=0bc454658ce01798f8af744d3c08d8cd33339e29a09164765c3057c7394714dd&);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: auto;
        background-size: fit-content;
        margin: 0;
    }
    .testmonial {
        background-image: url(https://cdn.discordapp.com/attachments/1009293272801361982/1162781864172466296/testimonial.jpg?ex=653d2fff&is=652abaff&hm=edbcfc912d24e6a84009c6458647f3a7c04bc0110e667b0b0138f07b0dbaa304&);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: auto;
        background-size: fit-content;
        margin: 0;
    }
    body {
        background-image: url(https://media.discordapp.net/attachments/1009293272801361982/1188741989135552522/tedx.webp?ex=659ba13f&is=65892c3f&hm=6efb693b03db50ba714bced61d0782ebb51a295ab3612489791b2f3472dc7abe&=&format=webp&width=1440&height=643);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: auto;
        background-size: fit-content;
        margin: 0;
    }
    .background2 {
        margin-top: 200px;
        background-image: url(https://media.discordapp.net/attachments/1009293272801361982/1188753660264591380/Background2.webp?ex=659bac1e&is=6589371e&hm=2630ae64ba1ca7a823c8e149c15f84f7664a9ec1de6e157a64dfb6552ff010c4&=&format=webp&width=1440&height=414);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: auto;
        background-size: fit-content;
        margin: 0;
    }
    
    .background3 {
        margin-top: 200px;
        background-image: url(../images/Background3v2.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: auto;
        background-size: fit-content;
        margin: 0;
    }
}

/* tiny */
@media screen and (max-width : 500px) {
    .topstyle {
        background-color: white;
        display: flex;
        flex-direction: column;
        column-gap: 10px;
        justify-content: right;
        margin: 0;
        border: 0;
        padding: 0;
        align-items: center;
        color: black;
    }
    .topstyle a {
        color: black;
    }
    .topnav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .types2 {
        text-align: center; 
    }
    .demo {
        padding-bottom: 5%;
    }
    .display {
        display: none;
    }

    .icon {
        background: white;
        margin-right: 30%;
        width: 40px;
        height: 40px;
    }

    .toplogo {
        margin-right: 100%;
        margin-left: -60%;
    }

    .menu {
        position: relative;
        left: 20%;
        top: 15%;
    }
    .homenav td {
        display: flex;
        flex-direction: column;
        text-align: center;
        white-space: nowrap;
    }
    td:hover {
        background-color: rgb(195, 194, 194);
    }
    .anchors {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: top;
        justify-content: center;
        padding-left: 5%;
        padding-right: 5%;
    }
    .anchors div {
     text-align: center;
    }

    .anchors p {
        margin-left: 20%;
        margin-right: 20%;
    }
    .top {
        display:flex;
        flex-direction: column;
        text-align: center;
    }
    .top img {
        position: relative;
        padding-top: 2%;
        padding-bottom: 20%;
    }
    .top .text {
        position: relative;
        margin-right: 20%;
        margin-left: 20%;
        font-size: large;
    }
    .events {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .events img {
        padding-top: 5%;
        padding-bottom: 20%;
    }
    .events .text {
        padding-top: 5%;
        margin-left: 20%;
        margin-right: 20%;
        font-size: large;
    }
    .contain {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .connectbox {
        padding-bottom: 2%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        background-color: white;
        width: fit-content;
        border-radius:  25px;
        margin-top: 5%;
        margin-bottom: 5%;
        padding-left: 2%;
        padding-right: 2%;
    }
    .demo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .demo img{
        width: 75%;
    }
    /* tiny*/
    .connectprompt {
        background-image: url(https://cdn.discordapp.com/attachments/1009293272801361982/1162763942863585352/connect.jpg?ex=653d1f4f&is=652aaa4f&hm=0bc454658ce01798f8af744d3c08d8cd33339e29a09164765c3057c7394714dd&);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: auto;
        background-size:  150% 150%;
        margin: 0;
        
    }
    .testmonial {
        background-image: url(https://cdn.discordapp.com/attachments/1009293272801361982/1162781864172466296/testimonial.jpg?ex=653d2fff&is=652abaff&hm=edbcfc912d24e6a84009c6458647f3a7c04bc0110e667b0b0138f07b0dbaa304&);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: auto;
        background-size:  150% 150%;
        margin: 0;
    }
    body {
        background-image: url(https://media.discordapp.net/attachments/1009293272801361982/1188741989135552522/tedx.webp?ex=659ba13f&is=65892c3f&hm=6efb693b03db50ba714bced61d0782ebb51a295ab3612489791b2f3472dc7abe&=&format=webp&width=1440&height=643);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: auto;
        background-size:  150% 150%;
        margin: 0;
    }
    .background2 {
        margin-top: 200px;
        background-image: url(https://media.discordapp.net/attachments/1009293272801361982/1188753660264591380/Background2.webp?ex=659bac1e&is=6589371e&hm=2630ae64ba1ca7a823c8e149c15f84f7664a9ec1de6e157a64dfb6552ff010c4&=&format=webp&width=1440&height=414);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: auto;
        background-size:  150% 150%;
        margin: 0;
    }
    
    .background3 {
        margin-top: 200px;
        background-image: url(../images/Background3v2.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: auto;
        background-size:  150% 150%;
        margin: 0;
    }
}

/* large */
@media screen and (min-width : 1400px) {
    .topstyle {
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        justify-content: right;
        margin: 0;
        border: 0;
        padding: 0;
        align-items: center;
    }
    .hidedarkblue {
        display: none;
    }
    .toplogo {
        margin-right: 300px;
    }
    .types2 {
        text-align: left;
    }
    .homenav td {
        padding-left: 30px;
        white-space: nowrap;
        margin-right: 20%;
    }

    .navmain {
        padding-right: 20%;
        font-size: large;
    }

    .menu {
        display: none;
    }

    a:hover {color:grey;}

    .anchors {
        display: flex;
        flex-direction: row;
        align-items: top;
        justify-content: center;
        padding-left: 5%;
        padding-right: 5%;
    }
    .anchors div {
        margin-left: 5%;
        margin-right: 5%;
        width: 320px;
    }
    .top {
        display:flex;
        flex-direction: row;
        align-items: center;
    }
    .top img {
        position: relative;
        right: 50%;
        padding-top: 20%;
        padding-bottom: 20%;
    }
    .top .text {
        position: relative;
        left: 15%;
        margin-right: 40%;
        font-size: large;
    }
    .events {
        display:flex;
        flex-direction: row;
        align-items: center;
    }
    .events img {
        margin-right: 20%;
        padding-top: 20%;
        padding-bottom: 20%;
    }
    .events .text {
        margin-right: 10%;
        margin-left: 30%;
        font-size: large;
    }
    .events button {
        margin-left: 30%;
    }
    .connectbox {
        padding-bottom: 2%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        background-color: white;
        width: fit-content;
        border-radius:  25px;
        margin-top: 5%;
        margin-bottom: 5%;
        padding-left: 2%;
        padding-right: 2%;
        justify-content: center;
    }
    .demo {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .connectprompt {
        background-image: url(https://cdn.discordapp.com/attachments/1009293272801361982/1162763942863585352/connect.jpg?ex=653d1f4f&is=652aaa4f&hm=0bc454658ce01798f8af744d3c08d8cd33339e29a09164765c3057c7394714dd&);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: auto;
    }
    .testmonial {
        background-image: url(https://cdn.discordapp.com/attachments/1009293272801361982/1162781864172466296/testimonial.jpg?ex=653d2fff&is=652abaff&hm=edbcfc912d24e6a84009c6458647f3a7c04bc0110e667b0b0138f07b0dbaa304&);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: auto;
        margin-bottom: 0%;
    }
    body {
        background-image: url(https://media.discordapp.net/attachments/1009293272801361982/1188741989135552522/tedx.webp?ex=659ba13f&is=65892c3f&hm=6efb693b03db50ba714bced61d0782ebb51a295ab3612489791b2f3472dc7abe&=&format=webp&width=1440&height=643);
        background-attachment: fixed;
        background-position: bottom 100px;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: auto;
        margin: 0;
        backdrop-filter: brightness(60%);
    }
    .background2 {
        margin-top: 200px;
        background-image: url(https://media.discordapp.net/attachments/1009293272801361982/1188753660264591380/Background2.webp?ex=659bac1e&is=6589371e&hm=2630ae64ba1ca7a823c8e149c15f84f7664a9ec1de6e157a64dfb6552ff010c4&=&format=webp&width=1440&height=414);
        background-attachment: fixed;
        background-position: bottom 100px;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: auto;
        margin: 0;
        backdrop-filter: brightness(60%);
    }
    
    .background3 {
        margin-top: 200px;
        background-image: url(../images/Background3v2.jpg);
        background-attachment: fixed;
        background-position: bottom 100px;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: auto;
        margin: 0;
    }
}