html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
}

body {
    background-image: url(https://cdn.discordapp.com/attachments/1009293272801361982/1162850897215365200/Speaker.jpg?ex=653d704a&is=652afb4a&hm=6f23fad74a7855a88603fcc9c41c3ad13737a16498eda342bd85860af3572c3a&);
    background-attachment: fixed;
    background-position: bottom 10px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: auto;
    margin: 0;
}


.bodyflex {
    display: flex;
    flex-direction: column;
    color: white;
    padding-top: 15%;
    padding-bottom: 15%;
    margin-right: 30%;
    margin-left: 15%;
}
a {
    color:black;
    text-decoration: none;
}

footer {
    background-color: #272D34;
    color:white;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    padding-bottom: 3%;
}
.footcontent {
    margin-left: 10%;
    align-items: center;
}
.media {
    padding-top: 2%;
    column-gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbot {
    position: absolute;
    right: 10%;
    white-space: nowrap;
}
.navbot a {
    margin-right: 10%;
    color:white;
}

.book {
    background-color: #CD3532;
    color:white;
    font-size: large;
    font-weight: bolder;
    text-align: center;
    align-items: center;
    border: #0E303C;
    border-radius: 10px;
    margin-top: 5%;
}

button:hover {
    background-color: #EC3D3A;
}

.darkblu {
    background-color: #0E303C;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 10%;
}

li {
    line-height: 1.6;
    font-size: 20px;
}

.container {
    margin-left: 12%; 
    display: flex;
    align-items: center;
    flex-direction: column;
}

.lightred {
    background-color: #CD3532;
    color: white;
    text-align: center;
    padding: 5%;
}
.lightred h1 {
    font-size: 36px;
}

.lightred h3 {
    font-weight: normal;
}

.lightred iframe {
    padding-top: 3%;
}

.darkscale {
    background-color: #B8BDC1;
}

.container2 {
    margin-left: 25%; 
    margin-right: 25%; 
    padding-top: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5%;
    text-align: center;
}

.container2 h1 {
    font-size: 26px
}

.container2 p {
    color: #595a5c;
    font-size: 20px
}

/* small */
@media screen and (max-width : 1400px) {
    .topstyle {
        background-color: white;
        display: flex;
        flex-direction: column;
        column-gap: 10px;
        justify-content: right;
        margin: 0;
        border: 0;
        padding: 0;
        align-items: center;
    }
    .topnav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .display {
        display: none;
    }

    .icon {
        background: white;
        margin-right: 30%;
        width: 40px;
        height: 40px;
    }

    .toplogo {
        margin-right: 100%;
        margin-left: -50%;
    }

    .menu {
        position: relative;
        left: 20%;
        top: 15%;
    }
    .homenav td {
        display: flex;
        flex-direction: column;
        text-align: center;
        white-space: nowrap;
    }
    td:hover {
        background-color: rgb(195, 194, 194);
    }
    .book {
        position: relative;
        right: 50%;
        width: 100%;
        height: 60px;
    }
    .imgs img {
        height: 60%;
        width: 60%;
    }
    .imgs {
        margin-left: 20%;
        padding-top: 5%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

/* large */
@media screen and (min-width : 1400px) {
    .topstyle {
        background-color: white;
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        justify-content: right;
        margin: 0;
        border: 0;
        padding: 0;
        align-items: center;
    }

    .toplogo {
        margin-right: 200px;
    }

    .homenav td {
        padding-left: 30px;
        white-space: nowrap;
        margin-right: 20%;
    }

    .navmain {
        padding-right: 20%;
        font-size: large;
    }

    .menu {
        display: none;
    }

    a:hover {color:grey;}
    .book {
        position: relative;
        right: 150%;
        width: 300%;
        height: 60px;
    }
    .imgs {
        padding-top: 5%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .imgs img {
        height: 90%;
        width: 90%;
    }
}